.profile__button-image-add {
  margin: 0;
  box-shadow: none;
  background-color: transparent;
  background-image: url(../../../images/plus-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  box-sizing: border-box;
  min-width: 150px;
  min-height: 50px;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .profile__button-image-add {
    min-width: 282px;
    max-height: 50px;
  }

}

.profile__button-image-add:hover {
  opacity: .8;
  transition: .8s;
}