.header__logo {
  max-width: 142px;
  min-height: 33px;
  padding: 0;
  margin: 0;
  margin-bottom: 41px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border: salmon solid;
}

@media screen and (max-width: 320px) {
    .header__logo {
      margin: 0 auto 31.6px 27px;
      min-height: 24px;
      max-width: 103.74px;
    }
    
}