.header{
  margin: 0 auto;
  padding: 0;
  padding-top: 45px;
  max-width: 880px;
  width: 100%;
  display: flex;
  align-self: end;
  justify-content: flex-start;
  border: red solid;
  border-bottom: #545454 solid 1px;
}

@media screen and (max-width: 320px) {
  .header{ 
    max-width: 320px;
    padding-top: 28px;
  }
    
}