.popup__form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 358px;
  
}

@media screen and (max-width: 540px) {
  .popup__form{
    width: 90%;
  }
}

@media screen and (max-width: 425px) {
  .popup__form {
    max-width: 238px;
  }
}