.footer__copyright {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400px;
  color: #545454;
  width: 100%;

}
@media screen and (max-width: 425px) {
    .footer__copyright {
      font-size: 14px;
    }
}
