.element {
  margin: 0 auto;
  padding: 0;
  position: relative;
  height: 361px;
  max-width: 282px;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  cursor: pointer;
}

.element:hover {
  transition: .4s;
  box-shadow: 0px -5px 10px 0px rgba(255, 254, 254, 0.498);
}