.profile__avatar {
  margin: 0;
  padding: 0;
  max-width: 120px;
  min-height: 120px;
  border-radius: 50%;
  background-size: cover;
}

@media screen and (max-width: 320px) {
  .profile__avatar {
    margin-bottom: 26px;
  }
  
}