.profile__button-edit-name{
  margin: 0;
  padding: 0;
  box-shadow: none;
  background-image: url(../../../images/Edit-Button.svg);
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;

}

.profile__button-edit-name:hover {
  opacity: .6;
  transition: .8s;
}
.profile__button-edit-name:focus {
  outline: none;
}

@media screen and (max-width: 425px) {
  .profile__button-edit-name {
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 320px) {
  .profile__button-edit-name {
    width: 18px;
    min-width: 18px;
    height: 18px;
  }
}
