.popup__title {
  margin: 34px auto 54px 36px;
  padding: 0;
  width: 100%;
  max-width: 330px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.20;
  color: #000000;
}

@media screen and (max-width: 640px) {
  .popup__title {
    margin: 34px auto 75px;
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 425px) {
    .popup__title {
      margin: 25px auto 45px;
      max-width: 238px;
      font-size: 18px;
      line-height: 22px;
    }
}

@media screen and (max-width: 264px) {
  .popup__title {
    width: 92%;
  }
}